---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import PostsListItem from "../components/PostsListItem.astro";
import PostsList from "../components/PostsList.astro";
import TagFilter from "../components/TagFilter.astro";
import { getBlogPosts, getAllTags } from "../utils/posts";

const posts = await getBlogPosts();
const allTags = await getAllTags();
---

<BaseLayout title="Blog" description="All blog posts">
	<Hero
		slot="hero"
		title="Blog"
		description="Thoughts, ideas, and things I've learned."
	/>

	<h2>All Posts</h2>
	<PostsList>
		{posts.map((post) => (
			<li class="list__item">
				<PostsListItem
					title={post.data.title}
					description={post.data.description}
					pubDate={post.data.pubDate}
					tags={post.data.tags}
					href={`/posts/${post.id}/`}
				/>
			</li>
		))}
	</PostsList>
	
	<TagFilter slot="sidebar-right" tags={allTags} />
</BaseLayout>
