---
import FormattedDate from "./FormattedDate.astro";
import Tag from "./Tag.astro";

interface Props {
	title: string;
	description?: string;
	pubDate: Date;
	tags: string[];
	href: string;
	// Review-specific fields
	rating?: number;
	creator?: string;
	releaseYear?: number;
}

const { title, pubDate, href, tags = [] } = Astro.props;
const primaryTag = tags[0];
---

<a href={href} class="post-list-item">
	{primaryTag && <Tag name={primaryTag} href={false} />}
	<h3 class="post-title">{title}</h3>
	<small class="post-date"><FormattedDate date={pubDate} /></small>
</a>

<style>
	.post-list-item {
		display: flex;
		flex-direction: column;
		padding: 1rem 0;
		border-bottom: 1px solid rgba(var(--gray), 0.2);
		gap: 0.25rem;
	}
	
	.post-list-item h3 {
		margin: 0;
	}
	
	.post-list-item small {
		color: rgb(var(--gray));
	}
	
	@media (min-width: 768px) {
		.post-list-item {
			flex-direction: row;
			align-items: baseline;
			gap: 0.75rem;
		}
		
		.post-list-item small {
			margin-left: auto;
		}
	}
</style>
